[submodule "keep-core"]
	path = keep-core
	url = https://github.com/rumblefishdev/keep-core.git
	branch = master
[submodule "keep-ecdsa"]
	path = keep-ecdsa
	url = https://github.com/rumblefishdev/keep-ecdsa.git
	branch = master
[submodule "tbtc"]
	path = tbtc
	url = https://github.com/rumblefishdev/tbtc.git
	branch = master
[submodule "tbtc-dapp"]
	path = tbtc-dapp
	url = https://github.com/keep-network/tbtc-dapp.git
[submodule "tbtc.js"]
	path = tbtc.js
	url = https://github.com/keep-network/tbtc.js.git
[submodule "relays"]
	path = relays
	url = https://github.com/keep-network/relays.git
