[submodule "keep-core"]
	path = keep-core
	url = https://github.com/rumblefishdev/keep-core.git
	branch = master
[submodule "keep-ecdsa"]
	path = keep-ecdsa
	url = https://github.com/rumblefishdev/keep-ecdsa.git
	branch = master
[submodule "tbtc"]
	path = tbtc
	url = https://github.com/rumblefishdev/tbtc.git
	branch = master
[submodule "tbtc-dapp"]
	path = tbtc-dapp
	url = git@github.com:rumblefishdev/tbtc-dapp.git
	branch = master
[submodule "tbtc.js"]
	path = tbtc.js
	url = git@github.com:rumblefishdev/tbtc.js.git
	branch = master
[submodule "relays"]
	path = relays
	url = git@github.com:rumblefishdev/relays.git
	branch = master
